# Core Data Science
pandas
numpy

# Machine Learning
scikit-learn

# Deep Learning
tensorflow
# tensorflow-cpu

# Visualization
matplotlib
seaborn
wordcloud

# Indonesian NLP
Sastrawi
nltk

# Utilities
tqdm
openpyxl
  PySastrawi
 emoji
 tqdm
 scikit-learn

    tensorflow
 matplotlib
 seaborn

    vaderSentiment
 transformers
 torch